<%      for (let i = 0; i < athletes.length; i++) {
%>            <section>
                <img src="<%= athletes[i].img_url %>" alt="<%= athletes[i].name %>">
                <h2><%= athletes[i].name %></h2>
            </section>
<%      }
%>